.filter-wrapper {
    position: relative;
  }
  
  .filter-form {
    position: absolute;
    left: auto;
    right: calc(125px - ((100vw - 1200px) / 2));
    margin-top: 14px;
    width: 541px;
    height: 548px;
  
    background: white;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  
    padding: 0;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: 0.2s ease;
    pointer-events: none;
  }
  
  .filter-form.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .filter-content {
    padding: 40px 48px;
  }
  
  .filter-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }
  
  .filter-group {
    margin-bottom: 32px;
    border: none;
    padding: 0;
    font-size: 14px;
  }
  
  .filter-legend {
    font-size: 14px;
    font-weight: 500;
    line-height: 6px;
    margin-bottom: 16px;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radio-item {
    position: relative;
  }
  
  .radio-group input {
    position: absolute;
    opacity: 0;
  }
  
  .radio-group label {
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
  }
  
  .radio-group label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #888;
    border-radius: 50%;
    background: transparent;
    box-sizing: border-box;
  }
  
  .radio-group input:checked + label::before {
    border-color: #000;
  }
  
  .radio-group input:checked + label::after {
    content: "✓";
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    line-height: 1;
    color: #000;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkbox-item {
    position: relative;
  }
  
  .checkbox-group input {
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-group label {
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
  }
  
  .checkbox-group label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #888;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
  }
  
  .checkbox-group input:checked + label::before {
    background: #fff;
    border-color: #000;
  }
  
  .checkbox-group input:checked + label::after {
    content: "✓";
    position: absolute;
    left: 4px;
    top: 52%;
    transform: translateY(-52%);
    color: #000;
    font-size: 12px;
  }
  
  .price-range-container {
    position: relative;
  }

  // .price-range-container::before,
  // .price-range-container::after {
  //   content: "";
  //   position: absolute;
  //   width: 8px;
  //   height: 8px;
  //   border-radius: 50%;
  //   background: #000;
  //   pointer-events: none;
  //   z-index: 1;
  //   bottom: 3px;
  // }

  .price-range-container::before {
    left: 0;
    transform: translateX(-50%);
  }

  .price-range-container::after {
    right: 0;
    transform: translateX(50%);
  }
  
  .price-values {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-bottom: 14px;
  }

  .price-from,
  .price-to {
    font-size: 14px;
  }

  .price-sliders {
    position: relative;
    width: 100%;
    height: 14px;
  }

  .price-slider {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 14px;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
  }

  .price-slider--min {
    z-index: 3;
  }

  .price-slider--max {
    z-index: 3;
  }

  .price-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: #000;
    border: none;
  }

  .price-slider::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: -3px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
  }

  .price-slider::-moz-range-track {
    width: 100%;
    height: 2px;
    background: #000;
    border: none;
  }

  .price-slider::-moz-range-thumb {
    pointer-events: auto;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
  }

  .price-slider::-ms-track {
    width: 100%;
    height: 2px;
    background: #000;
    border: none;
    color: transparent;
  }

  .price-slider::-ms-thumb {
    pointer-events: auto;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
  }

  .price-slider::-ms-fill-lower,
  .price-slider::-ms-fill-upper {
    background: transparent;
  }
  
  .color-group {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  
  .color-group input {
    display: none;
  }
  
  .color-label {
    width: 15px;
    height: 15px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.15s;
    position: relative;
    box-sizing: border-box;
  }
  

  
  .color-group input:checked + .color-label {
    box-shadow: none;
    border-radius: 0.5px;
    border: 1px solid #000;
  }
  
  .color-group input:checked + .color-label::after {
    content: "✓";
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 500;
    color: #000000;
  }

  .color-label.white { background: #fff; border: 1px solid #ddd; }
  .color-label.black { background: #000; }
  .color-label.gray { background: #9e9e9e; }
  .color-label.red { background: #ff3b30; }
  .color-label.orange { background: #ff9500; }
  .color-label.yellow { background: #ffcc00; }
  .color-label.green { background: #34c759; }
  .color-label.lightgreen { background: #1CCC97; }
  .color-label.cyan { background: #32ade6; }
  .color-label.blue { background: #007aff; }
  .color-label.darkpurple { background: #6710D6; }
  .color-label.purple { background: #9D0DB5; }
  .color-label.pink { background: #D89AFF; }
  .color-label.lightpink { background: #FF65A6; }

  .filter-submit {
    width: 190px;
    height: 40px;
  
    border-radius: 20px;
    border: 1px solid #000;
    background: transparent;
  
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: auto;
    display: block;
  }
  
  .filter-submit:hover {
    background: #000;
    color: #fff;
  }